.footer-container1 {
  display: contents;
}
 
.footer-container2 {
  display: none;
}
 
.footer-container3 {
  display: contents;
}
 
.footer-footer-copyright-symbol {
  color: var(--color-on-primary);
  width: 24px;
  height: 24px;
  display: inline-flex;
  font-size: var(--font-size-xs);
  background: var(--color-primary);
  align-items: center;
  font-weight: var(--font-weight-bold);
  border-radius: var(--border-radius-full);
  justify-content: center;
}
 
.footer-footer-heart-icon {
  color: var(--color-accent);
  animation: footer-heartbeat 1.5s ease-in-out infinite;
}
 
.footer-container4 {
  display: none;
}
 
.footer-container5 {
  display: contents;
}
 
.footer-container6 {
  display: none;
}
 
.footer-container7 {
  display: contents;
}
